<section class="abouts">
    <div class="container">
        <label class="abouts__label">tradition and love</label>
        <h2 class="abouts__title">how it’s made?</h2>
        <div class="abouts__flex">
            <picture class="abouts__picture">
                <img src="./images/about-advantahes/cow-desk-1x-z.png">
            </picture>
            <p class="abouts__subtitle">Ice is a place where you will become not only a little happier, but also
                healthier. Health is the
                main value for us, and
                we follow it when creating our handmade desserts.</p>
            <p class="abouts__subtitle">We use traditional recipes and 100% natural ingredients. Our products are
                so
                natural that they can be
                given to children
                from the age of three years. Sweets lovers can expect 55 types of ice cream, 15 types of coffee and
                23 milkshakes.
            </p>
            <p class="abouts__subtitle">This is enough to choose ice cream and coffee for any mood!
            </p>
            <button type="submit" class="abouts__button">Read more
            </button>
        </div>
        <ul class="abouts__items">
            <li class="abouts__features">
                <a href="#" class="abouts__icon">
                    <svg class="abouts__svg" width="36px" height="36px">
                        <use></use>
                    </svg>
                </a>
                <h3 class="abouts__heading">721</h3>
                <p class="abouts__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
            <li class="abouts__features">
                <a href="#" class="abouts__icon">
                    <svg class="abouts__svg" width="36px" height="36px">
                        <use></use>
                    </svg>
                </a>
                <h3 class="abouts__heading">16kg</h3>
                <p class="abouts__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
            <li class="abouts__features">
                <a href="#" class="abouts__icon">
                    <svg class="abouts__svg" width="36px" height="36px">
                        <use></use>
                    </svg>
                </a>
                <h3 class="abouts__heading">84</h3>
                <p class="abouts__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
        </ul>