<section class="abouts">
    <div class="container">
        <label class="abouts__label">tradition and love</label>
        <h2 class="abouts__title">how it’s made?</h2>
        <div class="abouts__flex">
            <div class="abouts__wrap">
                <div class="abouts__picture">
                    <!-- <picture>
                        <source srcset="./images/about-advantahes/cow-desk-1x.png 1x, 
                            ./images/about-advantahes/cow-desk-2x.png 2x" media="(min-width: 1200px)">
                        <source srcset="./images/about-advantahes/cow-tabl-1x.png 1x, 
                            ./images/about-advantahes/cow-tabl-2x.png 2x" media="(min-width: 768px)">
                        <source srcset="./images/about-advantahes/cow-mob-1x.png 1x, 
                            ./images/about-advantahes/cow-mob-2x.png 2x" media="(min-width: 480px)">
                        <img src="./images/about-advantahes/cow-tabl-1x.png">
                    </picture> -->
                    <picture>
                        <source media="(min-width:1200px)" srcset="
                        ./images/about-advantahes/cow-desk-1x.png 1x, 
                        ./images/about-advantahes/cow-desk-2x.png 2x" />
                        <source media="(min-width:768px)" srcset="
                    			./images/about-advantahes/cow-tabl-1x.png 1x,
                    			./images/about-advantahes/cow-tabl-2x.png 2x" />
                        <source media="(min-width:480px)" srcset="
                    			./images/about-advantahes/cow-mob-1x.png 1x,
                    			./images/about-advantahes/cow-mob-2x.png 2x" />
                        <img src=" ./images/about-advantahes/cow-tabl-1x.png">
                    </picture>
                </div>
            </div>
            <div class="abouts__wrapper">
                <ul class="abouts__list">
                    <li class="abouts__subtitle1">
                        <p>Ice is a place where you will become not only a little happier, but
                            also
                            healthier. Health is the
                            main value for us, and
                            we follow it when creating our handmade desserts.</p>
                    </li>
                    <li class="abouts__subtitle2">
                        <p>We use traditional recipes and 100% natural ingredients. Our products
                            are
                            so
                            natural that they can be
                            given to children
                            from the age of three years. Sweets lovers can expect 55 types of ice cream, 15 types of
                            coffee
                            and
                            23 milkshakes.</p>
                    </li>
                    <li class="abouts__subtitle3">
                        <p>This is enough to choose ice cream and coffee for any mood!</p>
                    </li>
                </ul>
                <button type="submit" class="abouts__button">Read more
                    <svg width="12" height="12" class="abouts__btn">
                        <use href="./images/about-advantahes/icons.svg/icons.svg#icon-vector"></use>
                    </svg>
                </button>
            </div>
        </div>
        <ul class="abouts__items">
            <li class="abouts__features">
                <a href="#" class="abouts__icon">
                    <svg class="abouts__svg" width="36" height="36">
                        <use href="./images/about-advantahes/icons.svg/icons.svg#icon-cow"></use>
                    </svg>
                </a>
                <h3 class="abouts__heading">721</h3>
                <p class="abouts__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
            <li class="abouts__features">
                <a href="#" class="abouts__icon">
                    <svg class="abouts__svg" width="36" height="36">
                        <use href="./images/about-advantahes/icons.svg/icons.svg#icon-weight"></use>
                    </svg>
                </a>
                <h3 class="abouts__heading">16kg</h3>
                <p class="abouts__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
            <li class="abouts__features">
                <a href="#" class="abouts__icon">
                    <svg class="abouts__svg" width="36" height="36">
                        <use href="./images/about-advantahes/icons.svg/icons.svg#icon-ice"></use>
                    </svg>
                </a>
                <h3 class="abouts__heading">84</h3>
                <p class="abouts__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
        </ul>
    </div>
</section>