<button type="button" data-modal-open>Read more</button>

<!-- Modal "read more" -->

<!-- <div class="backdrop is-hidden" data-modal>
  <div class="modal">
    <button type="button" class="modal__close" data-modal-close>
      <svg width="11" height="11" class="modal__icon">
        <use href="./images/modal-more/modal-cross.svg"></use>
      </svg>
    </button>
    <h2 class="modal__title">
      How it’s made?</h2>
    <div class="modal_video">
      <iframe class="modal__player" width="100%" height="315"
        src="https://www.youtube.com/embed/uRlvaqqVaWQ"
        title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; 
        encrypted-media; gyroscope; picture-in-picture; 
        web-share" allowfullscreen>
      </iframe>
    </div>
    <p class="modal__text">Lorem ipsum dolor sit amet consectetur
      adipisicing elit. Aspernatur beatae voluptatibus
      porro, tenetur tempore, natus adipisci iusto
      eligendi dignissimos provident unde quod,
      vero veritatis deleniti.
      Harum eveniet amet dicta excepturi?
    </p> -->


<!-- </div>
</div> -->



<!-- Вопросы -->
<!-- 1. Не появляется иконка-крестик для закрытия мод окна -->
<!-- 2. Если закрыть мод окно во время проигрывания видео, 
то звук видео продолжает воспроизводиться. -->
<!-- 3. Если во время просмотра видео увеличить плеер, 
то часть экрана скрыта с элементами управления. -->


<!-- Modal our-location -->

<div class="backdrop is-hidden" data-modal>
  <div class="modal">
    <button type="button" class="modal-map__close" data-modal-close>
      <svg width="11" height="11" class="modal-map__icon">
        <use href="./images/modal-more/modal-cross.svg"></use>
      </svg>
    </button>
    <h2 class="modal-map__title">
      Our Location</h2>
    <iframe class="modal-map__viewer"
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d82744.55878337912!2d34.48702672828057!3d49.602134473041616!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d825e425e6ba6b%3A0xcf3e6bdfb9e4ca82!2z0J_QvtC70YLQsNCy0LAsINCf0L7Qu9GC0LDQstGB0LrQsNGPINC-0LHQu9Cw0YHRgtGMLCAzNjAwMA!5e0!3m2!1sru!2sua!4v1673622510822!5m2!1sru!2sua"
      width="100%" height="300" style="border:0;" allowfullscreen=""
      loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    
      <button class="modal-map__button" type=" button">Open map</button>

  </div>
</div>