<div style="height: 500px; width:auto; background-color: aliceblue;"></div>
<!-- тестовий дів верхньої секції -->

<!-- Контакти -->
<section class="section contacts">
  <div class="container">
    <h2 class="visually-hidden">Contacts</h2>
    <ul class="contacts__list">
      <li class="contacts__item">
        <p class="contacts__label">Cafe</p>
        <address class="contacts__address">
          <p class="contacts__city">Chicago</p>
          <a target="_blank" class="contacts__location"
            href="https://www.google.com.ua/maps/place/10340+Ridgeland+Ave,+Chicago+Ridge,+IL+60415,+USA/@41.7034016,-87.7819292,17z/data=!3m1!4b1!4m5!3m4!1s0x880e39ad302b2c19:0xc808e9b14d04eb2b!8m2!3d41.7034016!4d-87.7797405">
            10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA</a>
        </address>
        <div class="contacts__schedule">
          <p class="contacts__day">Monday - Friday</p>
          <p class="contacts__time">06:00 AM - 10:00 PM</p>
          <p class="contacts__day">Saturday - Sunday</p>
          <p class="contacts__time">08:00 AM - 16:00 PM</p>
        </div>
        <address class="contacts__link">
          <a class="contacts__tel" href="tel:+610383766284">+61(0) 383 766 284</a>
          <a class="contacts__mail" href="mailto:noreply@envato.com">noreply@envato.com</a>
        </address>
      </li>
      <li class="contacts__item">
        <p class="contacts__label">Foodtruck</p>
        <address class="contacts__address">
          <p class="contacts__city">Los Angeles</p>
          <a target="_blank" class="contacts__location"
            href="https://www.google.com/maps/place/1003+Manhattan+Ave,+Manhattan+Beach,+CA+90266,+Сполучені+Штати+Америки/@33.8835263,-118.4103286,17z/data=!4m5!3m4!1s0x80c2b3eca6743829:0x98448969b9b4373d!8m2!3d33.8835263!4d-118.4103286">
            1003 Manhattan Ave, Manhattan Beach, CA 90263, USA</a>
        </address>
        <div class="contacts__schedule">
          <p class="contacts__day">Monday - Friday</p>
          <p class="contacts__time">06:00 AM - 10:00 PM</p>
          <p class="contacts__day">Saturday - Sunday</p>
          <p class="contacts__time">08:00 AM - 16:00 PM</p>
        </div>
        <address class="contacts__link">
          <a class="contacts__tel" href="tel:+610383766284">+61(0) 383 766 284</a>
          <a class="contacts__mail" href="mailto:noreply@envato.com">noreply@envato.com</a>
        </address>
      </li>
      <li class="contacts__item">
        <p class="contacts__label">Cafe</p>
        <address class="contacts__address">
          <p class="contacts__city">New York</p>
          <a target="_blank" class="contacts__location"
            href="https://www.google.com/maps/place/726+Sterling+Pl,+Brooklyn,+NY+11216,+Сполучені+Штати+Америки/@40.6726938,-73.954734,17z/data=!4m5!3m4!1s0x89c25b9e1735b38f:0xb5fe454b88e9c2c0!8m2!3d40.6726938!4d-73.954734">
            726 Sterling Pl, Brooklyn, NY 11222, USA</a>
        </address>
        <div class="contacts__schedule">
          <p class="contacts__day">Monday - Friday</p>
          <p class="contacts__time">06:00 AM - 10:00 PM</p>
          <p class="contacts__day">Saturday - Sunday</p>
          <p class="contacts__time">08:00 AM - 16:00 PM</p>
        </div>
        <address class="contacts__link">
          <a class="contacts__tel" href="tel:+610383766284">+61(0) 383 766 284</a>
          <a class="contacts__mail" href="mailto:noreply@envato.com">noreply@envato.com</a>
        </address>
      </li>
    </ul>
    <!-- Кнопки -->
    <div class="contacts__btn-wrap">
      <button class="contacts__btn js-open-modal" data-modal="location">
        Our Locations
        <svg class="contacts__icon" width="12" height="12">
          <use href="./images/icons.svg#icon-arrow-right-bold"></use>
        </svg>
      </button>

      <button class="contacts__btn contacts__btn--transparent js-open-modal" data-modal="franchise">
        Franchise
        <svg class="contacts__icon" width="12" height="12">
          <use href="./images/icons.svg#icon-arrow-right-bold"></use>
        </svg>
      </button>
    </div>
  </div>
</section>