<section class="customersreview">
    <h2 hidden>Customers Review</h2>
    <div class="container sliders">
        <div class="comentary-slider one-time">
            <div class="comentary-slider__item">
                <img class="customers-photo"
                    srcset="./images/customers/emily-x1.jpg 1x, ./images/customers/emily-x2.jpg 2x"
                    src="./images/customers/emily-x1.jpg" width="85" height="85" alt="Emily">
                <p class="customers-comentary">I love visiting your cafe. You prepare the most delicious ice
                    cream in Los Angeles! In
                    addition, you have beautiful
                    serving, cozy atmosphere and polite staff.</p>
                <p class="customers-meta">Emily, Los Angeles</p>
            </div>
            <div class="comentary-slider__item">
                <img class="customers-photo"
                    srcset="./images/customers/bryan-x1.jpg 1x, ./images/customers/bryan-x2.jpg 2x"
                    src="./images/customers/bryan-x1.jpg" width="85" height="85" alt="Bryan">
                <p class="customers-comentary">Every day we come to you with friends after classes in college. We love
                    your ice
                    cream
                    and casual atmosphere!
                </p>
                <p class="customers-meta">Bryan, New-York</p>
            </div>
            <div class="comentary-slider__item">
                <img class="customers-photo"
                    srcset="./images/customers/diana-x1.jpg 1x, ./images/customers/diana-x2.jpg 2x"
                    src="./images/customers/diana-x1.jpg" width="85" height="85" alt="Diana">
                <p class="customers-comentary">Ice cream is my passion! I love your chocolate hazelnut ice cream! And I
                    really like
                    the
                    excellent service - always
                    served politely and quickly!
                </p>
                <p class="customers-meta">Diana, Chicago</p>
            </div>
        </div>
    </div>
</section>