<footer class="footer">
    <div class=" container">
    <div class="footer__wraper">
        <div class="block1 footer__block1">
            <p class="block1__text">HOMEMADE ICE CREAM MADE</p>
            <h2 class="block1__titel">WITH PASSION</h2>
        </div>
        <div class="block2 footer__block2">
            <ul class="soc block2__list">
                <li class="soc__item">
                    <a class="soc__link" href="https://github.com/" target="_blank" rel="noopener noreferrer">
                        <svg class="soc__icon" width="20" height="20">
                            <use href="./images/icons.svg#icon-github"></use>
                        </svg>
                    </a>
                </li>
                <li class="soc__item">
                    <a class="soc__link" href="https://web.telegram.org/k/" target="_blank" rel="noopener noreferrer">
                        <svg class="soc__icon" width="20" height="15">
                            <use href="./images/icons.svg#icon-telegram"></use>
                        </svg>
                    </a>
                </li>
                <li class="soc__item">
                    <a class="soc__link" href="https://www.facebook.com/" target="_blank" rel="noopener noreferrer">
                        <svg class="soc__icon" width="10" height="20">
                            <use href="./images/icons.svg#icon-facebook"></use>
                        </svg>
                    </a>
                </li>
            </ul>
            <p class="block2__text">Feel free to contact <span class="block2__span">+61 (0) 383 766 284</span></p>
        </div>
    </div>
    <hr class="footer__hr">
    <p class="footer__text"> © 2022 - IceCream. All Rights Reserved. </p>
    </div>
</footer>