<section class="gallery">
  <div class="gallery__container container">
    <h2 class="gallery__title visually-hidden">Gallery</h2>

    <div class="gallery__slider">
      <div class="gallery__thumb" style="width: 1013px">
        <picture>
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/gallery/gallery_image_1_desktop.jpg   1x,
              ./images/gallery/gallery_image_1_desktopx2.jpg 2x
            "
          />

          <source
            media="(min-width: 768px)"
            srcset="
              ./images/gallery/gallery_image_1_tablet.jpg   1x,
              ./images/gallery/gallery_image_1_tabletx2.jpg 2x
            "
          />

          <source
            media="(max-width: 767px)"
            srcset="
              ./images/gallery/gallery_image_1_mobile.jpg   1x,
              ./images/gallery/gallery_image_1_mobilex2.jpg 2x
            "
          />

          <source
            media="(max-width: 479px)"
            srcset="
              ./images/gallery/gallery_image_1_phone.jpg   1x,
              ./images/gallery/gallery_image_1_phonex2.jpg 2x
            "
          />

          <img
            class="gallery__image"
            srcset="
              ./images/gallery/gallery_image_1_phone.jpg   1x,
              ./images/gallery/gallery_image_1_phonex2.jpg 2x
            "
            src="./images/gallery/gallery_image_1_phone.jpg"
            alt="Морозиво"
          />
        </picture>
      </div>

      <div class="gallery__thumb" style="width: 1013px">
        <picture>
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/gallery/gallery_image_2_desktop.jpg   1x,
              ./images/gallery/gallery_image_2_desktopx2.jpg 2x
            "
          />

          <source
            media="(min-width: 768px)"
            srcset="
              ./images/gallery/gallery_image_2_tablet.jpg   1x,
              ./images/gallery/gallery_image_2_tabletx2.jpg 2x
            "
          />

          <source
            media="(max-width: 767px)"
            srcset="
              ./images/gallery/gallery_image_2_mobile.jpg   1x,
              ./images/gallery/gallery_image_2_mobilex2.jpg 2x
            "
          />

          <source
            media="(max-width: 479px)"
            srcset="
              ./images/gallery/gallery_image_2_phone.jpg   1x,
              ./images/gallery/gallery_image_2_phonex2.jpg 2x
            "
          />

          <img
            class="gallery__image"
            srcset="
              ./images/gallery/gallery_image_2_phone.jpg   1x,
              ./images/gallery/gallery_image_2_phonex2.jpg 2x
            "
            src="./images/gallery/gallery_image_2_phone.jpg"
            alt="Морозиво"
          />
        </picture>
      </div>

      <div class="gallery__thumb" style="width: 1013px">
        <picture>
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/gallery/gallery_image_3_desktop.jpg   1x,
              ./images/gallery/gallery_image_3_desktopx2.jpg 2x
            "
          />

          <source
            media="(min-width: 768px)"
            srcset="
              ./images/gallery/gallery_image_3_tablet.jpg   1x,
              ./images/gallery/gallery_image_3_tabletx2.jpg 2x
            "
          />

          <source
            media="(max-width: 767px)"
            srcset="
              ./images/gallery/gallery_image_3_mobile.jpg   1x,
              ./images/gallery/gallery_image_3_mobilex2.jpg 2x
            "
          />

          <source
            media="(max-width: 479px)"
            srcset="
              ./images/gallery/gallery_image_3_phone.jpg   1x,
              ./images/gallery/gallery_image_3_phonex2.jpg 2x
            "
          />

          <img
            class="gallery__image"
            srcset="
              ./images/gallery/gallery_image_3_phone.jpg   1x,
              ./images/gallery/gallery_image_3_phonex2.jpg 2x
            "
            src="./images/gallery/gallery_image_3_phone.jpg"
            alt="Морозиво"
          />
        </picture>
      </div>

      <div class="gallery__thumb" style="width: 1013px">
        <picture>
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/gallery/gallery_image_4_desktop.jpg   1x,
              ./images/gallery/gallery_image_4_desktopx2.jpg 2x
            "
          />

          <source
            media="(min-width: 768px)"
            srcset="
              ./images/gallery/gallery_image_4_tablet.jpg   1x,
              ./images/gallery/gallery_image_4_tabletx2.jpg 2x
            "
          />

          <source
            media="(max-width: 767px)"
            srcset="
              ./images/gallery/gallery_image_4_mobile.jpg   1x,
              ./images/gallery/gallery_image_4_mobilex2.jpg 2x
            "
          />

          <source
            media="(max-width: 479px)"
            srcset="
              ./images/gallery/gallery_image_4_phone.jpg   1x,
              ./images/gallery/gallery_image_4_phonex2.jpg 2x
            "
          />

          <img
            class="gallery__image"
            srcset="
              ./images/gallery/gallery_image_4_phone.jpg   1x,
              ./images/gallery/gallery_image_4_phonex2.jpg 2x
            "
            src="./images/gallery/gallery_image_4_phone.jpg"
            alt="Морозиво"
          />
        </picture>
      </div>

      <div class="gallery__thumb" style="width: 1013px">
        <picture>
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/gallery/gallery_image_5_desktop.jpg   1x,
              ./images/gallery/gallery_image_5_desktopx2.jpg 2x
            "
          />

          <source
            media="(min-width: 768px)"
            srcset="
              ./images/gallery/gallery_image_5_tablet.jpg   1x,
              ./images/gallery/gallery_image_5_tabletx2.jpg 2x
            "
          />

          <source
            media="(max-width: 767px)"
            srcset="
              ./images/gallery/gallery_image_5_mobile.jpg   1x,
              ./images/gallery/gallery_image_5_mobilex2.jpg 2x
            "
          />

          <source
            media="(max-width: 479px)"
            srcset="
              ./images/gallery/gallery_image_5_phone.jpg   1x,
              ./images/gallery/gallery_image_5_phonex2.jpg 2x
            "
          />

          <img
            class="gallery__image"
            srcset="
              ./images/gallery/gallery_image_5_phone.jpg   1x,
              ./images/gallery/gallery_image_5_phonex2.jpg 2x
            "
            src="./images/gallery/gallery_image_5_phone.jpg"
            alt="Морозиво"
          />
        </picture>
      </div>

      <div class="gallery__thumb" style="width: 1013px">
        <picture>
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/gallery/gallery_image_6_desktop.jpg   1x,
              ./images/gallery/gallery_image_6_desktopx2.jpg 2x
            "
          />

          <source
            media="(min-width: 768px)"
            srcset="
              ./images/gallery/gallery_image_6_tablet.jpg   1x,
              ./images/gallery/gallery_image_6_tabletx2.jpg 2x
            "
          />

          <source
            media="(max-width: 767px)"
            srcset="
              ./images/gallery/gallery_image_6_mobile.jpg   1x,
              ./images/gallery/gallery_image_6_mobilex2.jpg 2x
            "
          />

          <source
            media="(max-width: 479px)"
            srcset="
              ./images/gallery/gallery_image_6_phone.jpg   1x,
              ./images/gallery/gallery_image_6_phonex2.jpg 2x
            "
          />

          <img
            class="gallery__image"
            srcset="
              ./images/gallery/gallery_image_6_phone.jpg   1x,
              ./images/gallery/gallery_image_6_phonex2.jpg 2x
            "
            src="./images/gallery/gallery_image_6_phone.jpg"
            alt="Морозиво"
          />
        </picture>
      </div>

      <div class="gallery__thumb" style="width: 1013px">
        <picture>
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/gallery/gallery_image_7_desktop.jpg   1x,
              ./images/gallery/gallery_image_7_desktopx2.jpg 2x
            "
          />

          <source
            media="(min-width: 768px)"
            srcset="
              ./images/gallery/gallery_image_7_tablet.jpg   1x,
              ./images/gallery/gallery_image_7_tabletx2.jpg 2x
            "
          />

          <source
            media="(max-width: 767px)"
            srcset="
              ./images/gallery/gallery_image_7_mobile.jpg   1x,
              ./images/gallery/gallery_image_7_mobilex2.jpg 2x
            "
          />

          <source
            media="(max-width: 479px)"
            srcset="
              ./images/gallery/gallery_image_7_phone.jpg   1x,
              ./images/gallery/gallery_image_7_phonex2.jpg 2x
            "
          />

          <img
            class="gallery__image"
            srcset="
              ./images/gallery/gallery_image_7_phone.jpg   1x,
              ./images/gallery/gallery_image_7_phonex2.jpg 2x
            "
            src="./images/gallery/gallery_image_7_phone.jpg"
            alt="Морозиво"
          />
        </picture>
      </div>

      <div class="gallery__thumb" style="width: 1013px">
        <picture>
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/gallery/gallery_image_8_desktop.jpg   1x,
              ./images/gallery/gallery_image_8_desktopx2.jpg 2x
            "
          />

          <source
            media="(min-width: 768px)"
            srcset="
              ./images/gallery/gallery_image_8_tablet.jpg   1x,
              ./images/gallery/gallery_image_8_tabletx2.jpg 2x
            "
          />

          <source
            media="(max-width: 767px)"
            srcset="
              ./images/gallery/gallery_image_8_mobile.jpg   1x,
              ./images/gallery/gallery_image_8_mobilex2.jpg 2x
            "
          />

          <source
            media="(max-width: 479px)"
            srcset="
              ./images/gallery/gallery_image_8_phone.jpg   1x,
              ./images/gallery/gallery_image_8_phonex2.jpg 2x
            "
          />

          <img
            class="gallery__image"
            srcset="
              ./images/gallery/gallery_image_8_phone.jpg   1x,
              ./images/gallery/gallery_image_8_phonex2.jpg 2x
            "
            src="./images/gallery/gallery_image_8_phone.jpg"
            alt="Морозиво"
          />
        </picture>
      </div>
    </div>
  </div>
</section>
