<!-- HEADER -->

<header class="nav container">
  <a class="nav__logo" href="/src/index.html"> </a>
  <div class="nav__content">
    <ul class="nav__list list">
      <li class="nav__items">
        <a href="" class="nav__link">Home</a>
      </li>
      <li class="nav__items">
        <a href="" class="nav__link">How it’s made?</a>
      </li>
      <li class="nav__items">
        <a href="" class="nav__link">Our products</a>
      </li>
      <li class="nav__items">
        <a href="" class="nav__link">Contact</a>
      </li>
    </ul>
    <button class="nav__mobile-menu">
      <svg class="mobile-menu" width="32px" height="32px">
        <use href="/src/images/icons.svg#icon-menu-fill"></use>
      </svg>
    </button>
    <button type="button" class="nav__btn">
      Buy now
      <svg width="12" height="12" class="nav__btn-arrow">
        <use href="/src/images/icons.svg#icon-arrow-right-bold"></use>
      </svg>
    </button>
  </div>
</header>

<!-- HERO -->
<section class="hero container">
  <div class="hero-content">
    <h1 class="hero-title">ice cream made with passion</h1>

    <ul class="availability list">
      <li>
        <p class="availability-cafe">
          <span class="availability-number">16</span>
          <span class="availability-option">cafes</span>
        </p>
      </li>
      <li>
        <p class="availability-tracks">
          <span class="availability-number">23</span>
          <span class="availability-option">food trucks</span>
        </p>
      </li>
    </ul>
  </div>
  <button type="button" class="hero-btn">Products</button>
  <a href="" class="hero-link">How it’s made?</a>
  <div class="hero-details">
    <p class="hero-details__text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et
    </p>
    <svg width="40px" height="16px" class="hero-details__arrow">
      <use href="../src/images/icons.svg#icon-arrow"></use>
    </svg>
  </div>
</section>
