<!-- Тестовая кнопка -->
<!-- <button type="button" class="js-open-modal" data-modal="read-more">test
  modal-read-more</button> -->

<!-- <div class="modal__overlay js-overlay-modal"> -->

<!-- Modal "read-more" -->

<div class="modal-more modal js-modal" data-modal="read-more">
  <svg width="13" height="13" class="modal-more__icon js-modal-close">
    <use href="./images/icons.svg#icon-close-line"></use>
  </svg>

  <h2 class="modal-more__title">How it’s made?</h2>

  <div class="modal-more__video">
    <iframe
      class="modal-more__player"
      width="100%"
      height="315"
      src="https://www.youtube.com/embed/uRlvaqqVaWQ"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; 
        encrypted-media; gyroscope; picture-in-picture; 
        web-share"
      allowfullscreen
    >
    </iframe>
  </div>

  <p class="modal-more__text">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur beatae voluptatibus porro,
    tenetur tempore, natus adipisci iusto eligendi dignissimos provident unde quod, vero veritatis
    deleniti. Harum eveniet amet dicta excepturi?
  </p>
</div>
<!-- </div> -->
