<!-- Modal our-location -->

<!-- отключаем js  -->
<!-- <div class="modal-map "> -->

<div class="modal-map modal js-modal" data-modal="location">

  <svg class="modal-map__icon js-modal-close">
    <use href="./images/icons.svg#icon-close-line"></use>
  </svg>

  <h2 class="modal-map__title">
    Our Location</h2>

  <iframe class="modal-map__viewer"
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d82744.55878337912!2d34.48702672828057!3d49.602134473041616!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d825e425e6ba6b%3A0xcf3e6bdfb9e4ca82!2z0J_QvtC70YLQsNCy0LAsINCf0L7Qu9GC0LDQstGB0LrQsNGPINC-0LHQu9Cw0YHRgtGMLCAzNjAwMA!5e0!3m2!1sru!2sua!4v1673622510822!5m2!1sru!2sua"
    width="100%" height="300" style="border:0;" allowfullscreen=""
    loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

  <a class="modal-map__button" href="https://goo.gl/maps/KH6ymqaUyxTPcvyQ7">Open
    map
  </a>

</div>