<!-- modal with info -->

<button type="button" data-modal-open>modal with info</button>

<div class="backdrop is-hidden" data-modal>
  <div class="modal">
    <button type="button" class="js-close-menu">
      <svg width="20" height="20">
        <use href=""></use>
      </svg>
    </button>
    <p>Chololate icecream</p>
    <ul>
      <li>320</li>
      <li>4g</li>
      <li>8,2g</li>
      <li>40,4g</li>
    </ul>
    <ul>
      <li>kcal</li>
      <li>Prote...</li>
      <li>Fats</li>
      <li>Carbs</li>
    </ul>
    <p>Ingridiens</p>
    <ul>
      <li>Milk</li>
      <li>Belgian chocolate</li>
      <li>Cream</li>
      <li>Cocoa powder</li>
      <li>Sugar</li>
      <li>Vanila sugar</li>
    </ul>
    <ul>
      <li>100ml</li>
      <li>20g</li>
      <li>150ml</li>
      <li>30g</li>
      <li>40g</li>
      <li>10g</li>
    </ul>
    <form>
      <input type="name" name="name" placeholder="Name" />
      <input type="tel" name="phone" placeholder="Phone" />
      <textarea name="" placeholder="Comment"></textarea>
      <button type="submit">Submit</button>
    </form>
  </div>
</div>
