<section class="container">
    <div class="products">
        <label class="products__label">100% natural</label>
        <h2 class="products__title">products</h2>
        <ul class="products__list">
            <li class="products__icecream">
                <div class="products__text-items">
                    <h3 class="products__text-title">ice cream</h3>
                    <button class="products__btn">
                        <!-- <svg class="products__btn-icon" width="40" height="16">
                            <use href="./images/symbol-defs.svg#Arrow"></use>
                        </svg> -->
                    </button>
                    <div class="products__text-box">
                        <p class="products__text">Soft ice cream with a delicate taste. Made with milk, cream,
                            sugar and natural
                            stabilizer
                        </p>
                    </div>
                </div>
            </li>
            <li class="products__icecoffee">
                <div class="products__text-items">
                    <h3 class="products__text-title">ice coffee</h3>
                    <button class="products__btn">
                        <!-- <svg class="products__btn-icon" width="40" height="16">
                            <use href="./images/symbol-defs.svg#Arrow"></use>
                        </svg> -->
                    </button>
                    <div class="products__text-box">
                        <p class="products__text">Fragrant invigorating drink created from 100% natural
                            ingredients
                            without the use of
                            preservatives and flavor enhancers
                        </p>
                    </div>
                </div>
            </li>
            <li class="products__milkshakes">
                <div class="products__text-items">
                    <h3 class="products__text-title">milkshakes</h3>
                    <button class="products__btn">
                        <!-- <svg class="products__btn-icon" width="40" height="16">
                            <use href="./images/symbol-defs.svg#Arrow"></use>
                        </svg> -->
                    </button>
                    <div class="products__text-box">
                        <p class="products__text">Sweet drinks based on milk and ice cream, supplemented with
                            syrups, fruits, berries and other
                            sweets of your choice
                        </p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>