<!-- Елементи для відкриття модальних вікон можуть бути любі - використовуємо те що на потрібно 
  по факту. Тут нижче лінки, якщо нам треба кнопка - без різниці. Головне це класс "js-open-modal" та
дата атрибут, точніше його значення. Повішали "data-modal="buy-now-modal" " на кнопку яка має
відкрити модалку, на потрібну модалку повішали такий же самий data-modal="buy-now-modal"  -->
<a href="#" class="a js-open-modal" data-modal="number-one">Открыть окно 1</a>
<a href="#" class="a js-open-modal" data-modal="number-two">Открыть окно 2</a>
<!-- Приклад для декількох модальних вікон -->
<!-- Тут перше модальне вікно - воно без обгортки, як ми робили в ДЗ, backdrop. -->
<div class="modal" data-modal="number-one">
  <!-- Ми робили кнопку, в яку ставили СВГ іконку. Тут на СВГ іконку встановлений класс закриття
  модального вікна. Отже, не важливо який елемент закриває модалку - головне щоб був клас. 
Робимо як по макету - кнопку в модалці для закриття, задаємо їй стилізацію, і в кнопку сунемо іконку. 
Можете зробити так само - взяти тільки СВГ, і стилізувати СВГ - дати їй розмір 24х24 як по макету.
Реакція буде по розміру СВГ -->
  <svg class="modal__cross js-modal-close" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
    <path
      d="M23.954 21.03l-9.184-9.095 9.092-9.174-2.832-2.807-9.09 9.179-9.176-9.088-2.81 2.81 9.186 9.105-9.095 9.184 2.81 2.81 9.112-9.192 9.18 9.1z"
    />
  </svg>
  <p class="modal__title">Заголовок окна 1</p>
</div>

<!-- Тут я для наглядності засунув модалку в дів з оверлеєм, бекдропом, по аналогії як робили в ДЗ
Фішка в тому, що цей оверлей буде активуватись по діям з першою модалкою, 
і виконувати свою функцію - затіняти екран. До речі, по макету, нам цей оверлей наче і не треба:
не має жодного прикладу модалки, де затінений фон. -->
<div class="overlay js-overlay-modal">
  <div class="modal" data-modal="number-two">
    <!-- Тут я зробив кнопку, на кнопку дав класс для закриття модалки, в кнопку засунув СВГ.
    Реакція відбувається по самій кнопці. -->
    <button type="button" class="button-for-close js-modal-close">
      <svg class="modal__cross" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
        <path
          d="M23.954 21.03l-9.184-9.095 9.092-9.174-2.832-2.807-9.09 9.179-9.176-9.088-2.81 2.81 9.186 9.105-9.095 9.184 2.81 2.81 9.112-9.192 9.18 9.1z"
        />
      </svg>
    </button>
    <p class="modal__title">Заголовок окна 2</p>
  </div>
</div>
<!-- Якщо не обертаєте модалку в overlay то нижче Ваших модалок треба створити
пустий <div class="overlay"></div>. Він також буде працювати - затіняти фон. Але якщо нам це не
потрібно - то і оверлей не потрібен. -->

<!-- Стилізація цього всього у паршилі _example.scss - копіюйте в свою стилізацію, 
і правте згідно макету. -->
