// Рядки з 1 по 49 видалю коли основні стилі будуть готові

/* Змінні */
$bg-color: #84a178;
$accent-color: #f8d24e;
$enabled-color: #0a8817;
$disabled-color: #ababab;
$text-dark-color: #131313;
$text-light-color: #fcfcfc;
$ice-cream-color: #AEC6A5;
$ice-coffee-color: #EFD478;
$milkshakes-color: #D6936D;

/* Секція Контакти */

.contacts {

    &__list {
        display: flex;
        flex-direction: column;
        gap: 16px;
        margin-bottom: 20px;

        @include mobile {
            margin-bottom: 24px;
        }

        @include tablet {
            flex-direction: row;
            margin-bottom: 40px;
        }

        @include desktop {
            gap: 32px;
            margin-bottom: 64px;
        }
    }

    &__item {
        
        max-width: 280px;
        // width: 100%;
        letter-spacing: 0.04em;
        font-weight: 500;
        font-size: 12px;
        line-height: 1.834;
        margin: 0 auto;
        padding: 40px 32px 24px;
        background-color: $text-light-color;
        box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
        border-radius: 24px;

        @include tablet {
            max-width: 224px;
            padding: 40px 24px;
            // width: 100%;
            font-size: 14px;
        }

        // Я зупинився на цьому рядку

        @media screen and (min-width: 1200px) {
            padding: 40px 40px;
            max-width: 368px;
            width: 100%;
            font-size: 16px;
        }
    }

    &__label {
        background-color: $accent-color;
        border-radius: 4px;
        margin-bottom: 20px;
        line-height: 1.167;
        padding: 4px 22px;
        // font-size: 12px;
        display: inline-block;
        // text-align: center;

        @media screen and (min-width: 768px) {
            font-size: 16px;
            margin-bottom: 32px;
        }
    }

    &__address {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 8px;
        margin-bottom: 48px;

        @media screen and (min-width: 768px) {
            gap: 12px;
            margin-bottom: 64px;
        }

        @media screen and (min-width: 1200px) {
            gap: 8px;
            margin-bottom: 64px;
        }
    }

    &__location {
        color: $milkshakes-color;
        height: 40px;
    }

    &__location:hover,
    &__location:focus {
        text-decoration: underline;
    }

    &__schedule {
        position: relative;
        display: flex;
        flex-direction: column;
        margin-bottom: 48px;

        @media screen and (min-width: 768px) {
            margin-bottom: 64px;
        }
    }

    &__time {
        color: $disabled-color;
    }

    &__time:not(:last-child) {
        margin-bottom: 8px;

        @media screen and (min-width: 768px) {
            margin-bottom: 12px;
        }
    }

    &__link {
        display: flex;
        flex-flow: column;
        gap: 6px;
        line-height: 1.584;
    }

    &__address::after,
    &__schedule::after {
        display: block;
        position: absolute;
        content: '';
        height: 1px;
        width: 100%;
        background-color: #e1e1e1;

        left: 0;
        bottom: -24px;

        @media screen and (min-width: 768px) {
            bottom: -32px;
        }
    }
}