// Рядки з 1 по 49 видалю коли основні стилі будуть готові

/* Змінні */
$bg-color: #84a178;
$accent-color: #f8d24e;
$enabled-color: #0a8817;
$disabled-color: #ababab;
$text-dark-color: #131313;
$text-light-color: #fcfcfc;
$ice-cream-color: #AEC6A5;
$ice-coffee-color: #EFD478;
$milkshakes-color: #D6936D;

/* Приховані елементи */
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

/* Глобальне скидання стилів */
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: $bg-color;
}

/* Зображення */
img {
    display: block;
    max-width: 100%;
    height: auto;
}

/* Списки */
ul {
    list-style: none;
}


/* Секція Контакти */

.contacts {

    &__list {
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-bottom: 32px;

        @media screen and (min-width: 768px) {
            flex-direction: row;
            gap: 16px;
            margin-bottom: 60px;
        }

        @media screen and (min-width: 1200px) {
            gap: 32px;
            margin-bottom: 64px;
        }
    }

    &__item {
        padding: 40px 32px;
        max-width: 280px;
        width: 100%;
        margin: 0 auto;
        font-weight: 500;
        font-size: 12px;
        line-height: 1.8;
        letter-spacing: 0.04em;
        color: $text-dark-color;
        background-color: $text-light-color;
        box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
        border-radius: 24px;

        @media screen and (min-width: 768px) {
            padding: 40px 24px;
            max-width: 224px;
            width: 100%;
            font-size: 14px;
        }

        @media screen and (min-width: 1200px) {
            padding: 40px 40px;
            max-width: 368px;
            width: 100%;
            font-size: 16px;
        }
    }

    &__label {
        display: inline-block;
        padding-left: 22px;
        padding-right: 22px;
        font-size: 12px;
        background-color: $accent-color;
        border-radius: 4px;
        margin-bottom: 20px;
        text-align: center;

        @media screen and (min-width: 768px) {
            font-size: 16px;
            margin-bottom: 32px;
        }
    }

    &__address {
        display: flex;
        position: relative;
        flex-direction: column;
        gap: 8px;
        margin-bottom: 48px;

        @media screen and (min-width: 768px) {
            gap: 12px;
            margin-bottom: 64px;
        }

        @media screen and (min-width: 1200px) {
            gap: 8px;
            margin-bottom: 64px;
        }
    }

    &__title,
    &__location,
    &__tel,
    &__mail {
        text-decoration: none;
        font-style: normal;
        color: $text-dark-color;
    }

    &__location {
        color: $milkshakes-color;
    }

    &__location:hover,
    &__location:focus {
        text-decoration: underline;
    }

    &__time {
        color: $disabled-color;
    }

    &__schedule {
        position: relative;
        display: flex;
        flex-direction: column;
        margin-bottom: 48px;

        @media screen and (min-width: 768px) {
            margin-bottom: 64px;
        }
    }

    &__time:not(:last-child) {
        margin-bottom: 8px;

        @media screen and (min-width: 768px) {
            margin-bottom: 12px;
        }
    }

    &__address::after,
    &__schedule::after {
        display: block;
        position: absolute;
        content: '';
        height: 1px;
        width: 100%;
        background-color: #e1e1e1;

        left: 0;
        bottom: -24px;

        @media screen and (min-width: 768px) {
            bottom: -32px;
        }
    }
}