/* Секція Контакти */

.contacts {
  position: relative;

  &__wrap {
    display: flex;
    justify-content: center;
    padding-bottom: 935px;

    @include mobile {
      padding-bottom: 943px;
    }

    @include tablet {
      padding-bottom: 278px;
    }

    @include desktop {
      padding-bottom: 474px;
    }
  }

  &__list {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 16px;
    transform: translateY(-353px);

    @include mobile {
      transform: translateY(-349px);
    }

    @include tablet {
      flex-direction: row;
      transform: translateY(-299px);
    }

    @include desktop {
      gap: 32px;
      transform: translateY(-128px);
    }
  }

  &__item {
    max-width: 280px;
    // width: 100%;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.83;
    letter-spacing: 0.04em;
    margin: 0 auto;
    padding: 40px 32px 24px;
    background-color: $secondary-text-color;
    box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
    border-radius: 24px;


    @include tablet {
      max-width: 224px;
      // width: 100%;
      font-size: 14px;
      line-height: 1.86;
      padding: 40px 24px;
      
      &:hover,
      &:focus {
        transform: translateY(-1%);
        filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
        }
    }

    @include desktop {
      max-width: 368px;
      // width: 100%;
      font-size: 16px;
      line-height: 1.88;
      padding: 40px;
    }
  }

  &__label {
    display: inline-block;
    line-height: 1.17;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding: 4px 22px;
    background-color: $accent-color;
    border-radius: 4px;

    @include tablet {
      font-size: 16px;
      line-height: 1.38;
      margin-bottom: 32px;
      padding: 4px 14px;
    }
  }

  &__address {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 48px;

    @include tablet {
      gap: 12px;
      margin-bottom: 64px;
    }

    @include desktop {
      gap: 8px;
      margin-bottom: 64px;
    }
  }

  &__location {
    color: $address-color;
    height: 40px;

    @include tablet {
      height: 71px;
    }

    @include desktop {
      height: 50px;
    }
  }

  &__location:hover,
  &__location:focus {
    text-decoration: underline;
    cursor: url(https://svgshare.com/i/pX4.svg), pointer;
  }

  &__schedule {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 48px;

    @include tablet {
      margin-bottom: 64px;
    }
  }

  &__time {
    color: $work-hours-color;
  }

  &__time:not(:last-child) {
    margin-bottom: 8px;

    @include desktop {
      margin-bottom: 12px;
    }
  }

  &__link {
    display: flex;
    flex-flow: column;
    gap: 6px;
    line-height: 1.58;

    @include tablet {
      gap: 4px;
      line-height: 1.5;
    }
  }

  &__tel,
  &__mail {
    cursor: url(https://svgshare.com/i/pX4.svg), pointer;
  }

  &__address::after,
  &__schedule::after {
    display: block;
    position: absolute;
    content: '';
    height: 1px;
    width: 100%;
    background-color: #e1e1e1;
    left: 0;
    bottom: -24px;

    @include tablet {
      bottom: -32px;
    }
  }

  // стилі для кнопок

  &__btn-wrap {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 60px;
    
    @include tablet {
      flex-direction: row;
      justify-content: center;
      margin-bottom: 40px;
    }
    
    @include desktop {
      margin-bottom: 120px;
    }
  }

  &__btn {
    width: 196px;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    border-radius: 10px;
    background-color: $accent-color;
    color: $primary-text-color;
    fill: $primary-text-color;
    font-family: inherit;
    font-size: inherit;
    font-weight: 600;
    line-height: 1.29;
    cursor: url(https://svgshare.com/i/pX4.svg), pointer;
    transition: background-color $time-duration $time-function,
        color $time-duration $time-function,
        fill $time-duration $time-function;
        
    &:hover {
        background-color: $btn-hover-color;
    }

    &:focus {
        background-color: $btn-hover-color;
        fill: $secondary-text-color;
        color: $secondary-text-color;
    }

    &:disabled {
        background-color: $btn-disabled-color;
    }
  }

  &__btn--transparent {
    background-color: transparent;
    border: 2px solid $accent-color;
    transition: border-color $time-duration $time-function;
    
    &:hover {
        background-color: transparent;
        border: 2px solid $btn-hover-color;
    }
      
    &:focus {
        background-color: transparent;
        fill: $secondary-text-color;
        border: 2px solid $btn-hover-color;
    }

    &:disabled {
        background-color: transparent;
        border: 2px solid $btn-disabled-color;
    }
  }
}
