.nav {
  background-color: var(--backgruond-color);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-top: 12px;

  @media screen and (min-width: 480px) {
    padding-top: 14px;
  }

  @media screen and (min-width: 768px) {
    padding-top: 20px;
  }

  @media screen and (min-width: 1200px) {
    padding-top: 8px;
  }
}

.nav-list {
  display: none;

  @media screen and (min-width: 1200px) {
    display: flex;
    margin-right: 204px;
  }
}

.nav-items:not(:last-child) {
  margin-right: 28px;
}

.nav-link {
  padding-top: 40px;
  padding-bottom: 13px;

  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  color: var(--white-text);

  &:hover,
  &:focus {
    color: var(--btn-backgroundcolor);
  }
}

.nav-menu {
  background-color: transparent;
  border: 0;

  @media screen and (min-width: 768px) {
    margin-right: 32px;
  }

  @media screen and (min-width: 1200px) {
    display: none;
  }
}

.nav-content {
  display: flex;
  align-items: center;
}

.nav-logo {
  display: flex;
  padding-top: 12px;
  background-image: url(/src/images/hero-header/header__logo.png);
  width: 40px;
  height: 37px;

  @media screen and (min-width: 480px) {
    padding-top: 14px;
    width: 48px;
    height: 44px;
  }

  @media screen and (min-width: 768px) {
    padding-top: 20px;
  }

  @media screen and (min-width: 1200px) {
    padding-top: 8px;
    background-image: url(/src/images/hero-header/header__logo-desktop.png);
    width: 60px;
    height: 65px;
  }
}

.nav-logo__icon {
  width: 40px;
  height: 37px;

  @media screen and (min-width: 480px) {
    width: 48px;
    height: 44px;
  }

  @media screen and (min-width: 1200px) {
    width: 60px;
    height: 65px;
  }
}

.nav-btn {
  display: none;
  width: 152px;
  height: 42px;
  background-color: var(--btn-backgroundcolor);
  border-radius: 10px;
  border: 0;

  font-weight: 600;
  font-size: 14px;
  line-height: 1.21;

  align-items: center;
  text-align: center;

  color: #000000;

  @media screen and (min-width: 768px) {
    display: block;
  }
}


.hero {
    padding-top: 50px;
    padding-bottom: 236px;
  
    @media screen and (min-width: 480px) {
      padding-bottom: 150px;
    }
  
    @media screen and (min-width: 768px) {
      padding-top: 14px;
      padding-bottom: 24px;
    }
  
    @media screen and (min-width: 1200px) {
      padding-top: 45px;
      padding-bottom: 103px;
    }
  }
  
  .arrow {
    fill: var(--white-text);
  }
  
  .hero-title {
    display: block;
    width: 247px;
    height: auto;
    margin-top: 0;
    margin-bottom: 32px;
  
    font-family: 'Seymour One', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 1.26;
    letter-spacing: 0.04em;
    text-transform: uppercase;
  
    color: var(--white-text);
  
    @media screen and (min-width: 768px) {
      margin-bottom: 24px;
    }
  
    @media screen and(min-width:1200px) {
      width: 367px;
      font-size: 38px;
      line-height: 1.26;
  
      margin-bottom: 28px;
    }
  }
  
  .availability {
    display: none;
  
    width: 85px;
  
    @media screen and (min-width: 1200px) {
      display: block;
    }
  }
  
  .availability-cafe {
    text-align: right;
  }
  
  .availability-tracks {
    text-align: right;
  }
  
  .hero-content {
    display: flex;
    justify-content: space-between;
  }
  
  .availability li:not(:last-child) {
    margin-bottom: 16px;
  }
  
  .availability-option {
    font-size: 14px;
    line-height: 1.21;
  }
  
  .availability-number {
    font-weight: 900;
    font-size: 46px;
    line-height: 1.21;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: var(--section-black-text);
    margin-right: auto;
  }
  
  .hero-btn {
    display: inline-block;
    width: 108px;
    height: 38px;
    margin-right: 12px;
  
    background-color: var(--background-color);
    border: 2px solid var(--btn-backgroundcolor);
    border-radius: 8px;
    color: var(--btn-color);
  
    @media screen and (min-width: 768px) {
      margin-bottom: 39px;
    }
  
    @media screen and (min-width: 1200px) {
      margin-bottom: 109px;
    }
  }
  
  .hero-link {
    display: inline-block;
    color: var(--btn-backgroundcolor);
  }
  
  .hero-details {
    display: none;
  
    @media screen and (min-width: 768px) {
      display: block;
      width: 144px;
      margin-left: 184px;
      font-size: 12px;
      line-height: 1.41;
    }
  
    @media screen and (min-width: 1200px) {
      margin-left: 241px;
  
      width: 210px;
      font-size: 14px;
      line-height: 1.42;
      color: var(--white-text);
    }
  }
  
  .hero-details__text {
    margin-bottom: 24px;
  }
  
  .overlay {
    height: 100%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: #84a178;
    background-image: url(/src/images/hero-header/hero__bg-img-1.png),
      url(/src/images/hero-header/hero__ice-cream__mobile-x1.png);
    background-size: 100%, 177px;
  
    background-repeat: no-repeat;
  
    background-position: 100% 100%, bottom center;
  
    @media screen and (min-width: 480px) {
      background-image: url(/src/images/hero-header/hero__ice-cream__mobile-x1.png),
        url(/src/images/hero-header/hero__bg-img-480.png);
      background-size: 218px, 330px;
      background-position: 90% 100%, 100% 100%;
    }
  
    @media screen and (min-width: 768px) {
      background-image: url(/src/images/hero-header/hero__ice-cream__tablet-x1.png),
        url(/src/images/hero-header/hero__many-ice-crean-tablet.png),
        url(/src/images/hero-header/hero__bg-img-tablet.png);
      background-size: 268px, 152px, 100%;
      background-position: right 92px bottom 0, 32px 185px, 100% 100%;
    }
  
    @media screen and (min-width: 1200px) {
      background-image: url(/src/images/hero-header/hero__ice-cream__desktop-x1.png),
        url(/src/images/hero-header/hero__many-ice-cream-desktop.png),
        url(/src/images/hero-header/hero__bg-img-desktop.png);
      background-size: 456px 560px, 225px, 100% 383px;
      background-position: right 92px bottom 0, left 16px bottom 65px, 100% 100%;
    }
  }
  