.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;

  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  // max-width: 480px;
  height: auto;
  padding: 28px;
  transform: translate(-50%, -50%) scale(1);
  background-color: #fcfcfc;
  border: 2px solid #f8d24e;
  border-radius: 10px;

  @media screen and (min-width: 480px) {
    width: 480px;
  }
  @media screen and (min-width: 768px) {
    width: 568px;
    padding: 32px 60px;
  }
}
.modal__close {
  position: absolute;
  top: 16px;
  right: 16px;
  color: black;
  // color: #131313;
  background-color: lime;
  // background-color: transparent;
  border: none;
}
.modal__icon {
  fill: black;
  // fill: currentColor;
}
.modal__title {
  margin-bottom: 20px;
  text-align: center;
  font-family: 'Seymour One';
  font-style: Book;
  font-size: 16px;
  line-height: 1.5;
}
.iframe_video {
  height: 0px;
  padding-bottom: 56.2%;
  position: relative;
}
.modal__plyer {
  // max-width: 480px;
  // height: auto;
  width: 100%;
  height: 100%;
  position: absolute;
  margin-bottom: 20px;
}
.modal__text {
  font-family: Montserrat;
  font-style: Regular;
  font-size: 14px;
  line-height: 1.43;
}
