
.modal-map {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: auto;
  padding: 28px;
  color: #131313;
  transform: translate(-50%, -50%) scale(1);
  background-color: #fcfcfc;
  border: 2px solid #f8d24e;
  border-radius: 10px;
  @include mobile {
    width: 480px;
  }
  @include tablet {
    width: 568px;
    padding: 32px 60px;
  }
  &__icon {
    position: absolute;
    top: 17px;
    right: 17px;
    width: 11px;
    height: 11px;
    fill: #131313;
    @include tablet {
      width: 13px;
      height: 13px;
    }
  }
  &__title {
    margin-bottom: 20px;
    text-align: center;
    font-family: 'Seymour One';
    font-style: Book;
    font-size: 16px;
    line-height: 1.5;
    color: #131313;
    @include tablet {
      margin-bottom: 32px;
      font-size: 20px;
      line-height: 1.4;
    }
  }
  &__viewer {
    margin-bottom: 24px;
    @include tablet {
      margin-bottom: 32px;
    }
  }
  &__button {
    display: block;
    width: 134px;
    height: 42px;
    margin-left: auto;
    margin-right: auto;
    font-family: Montserrat;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.25;
    color: #131313;
    background-color: #F8D24E;
    border-radius: 10px;
    border: none;
    @include tablet {
      width: 145px;
      font-size: 14px;
      line-height: 1.21;
    }
  }
}



