.products {
    padding: 60px 16px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    // background-image: url(../../images/Backgroud__mobile-x1.png);

    // @media screen and (min-width:768px) {
    //     background-image: url(./images/Background_tablet.jpg);
    // }

    // @media screen and (min-width:1200px) {
    //     background-image: url(../../images/Backgroud__desktop-x1.png);
    // }
}

.products__list {
    width: auto;
    height: auto;
    margin-top: 303px;

    @media screen and (min-width:768px) {
        display: flex;
        gap: 16px;
    }

    @media screen and (min-width:1200px) {
        display: flex;
        gap: 29px;
    }

    li {
        width: 280px;
        height: 536px;
        border-radius: 24px;

        @media screen and (min-width:480px) {
            width: 250px;
        }

        @media screen and (min-width:768px) {
            width: 224px;
        }

        @media screen and (min-width:1200px) {
            width: 370px;
        }
    }
}

.products__icecream {
    background-color: #AEC6A5;
    position: relative;

    &::before,
    &::after {
        content: '';
        position: absolute;

        width: 200px;
        height: 200px;

        @media screen and (min-width:1200px) {
            width: 302px;
            height: 302px;
        }
    }

    &::before {
        transform: translate(-50%, -60%);
        border-radius: 50%;
        background-color: inherit;
        box-shadow: 0 8px 30px 0 rgba(10, 136, 23, 25%);
    }

    // &::after {
    //     background-image: url(./images/cream_x1.png);
    //     top: -182px;
    //     left: 33px;

    //     @media screen and (min-width:1200px) {
    //         background-image: url(./images/ice-cream__desktop__x1.png);
    //     }
    // }

}


.products__icecoffee {
    background-color: #EFD478;
    position: relative;

    &::before,
    &::after {
        content: '';
        position: absolute;

        width: 200px;
        height: 200px;

        @media screen and (min-width:1200px) {
            width: 302px;
            height: 302px;
        }
    }

    &::before {
        transform: translate(-50%, -60%);
        border-radius: 50%;
        background-color: inherit;
        box-shadow: 0 8px 30px 0 rgba(153, 114, 23, 25%);

    }

    // &::after {
    //     background-image: url(./images/coffee_x1.png);
    //     top: -182px;
    //     left: 33px;

    //     @media screen and (min-width:1200px) {
    //         background-image: url(./images/ice-cofee__desktop__x1.png);
    //     }
    // }
}



.products__milkshakes {
    background-color: #D6936D;
    position: relative;

    &::before,
    &::after {
        content: '';
        position: absolute;

        width: 200px;
        height: 200px;

        @media screen and (min-width:1200px) {
            width: 302px;
            height: 302px;
        }
    }

    &::before {
        transform: translate(-50%, -60%);
        border-radius: 50%;
        background-color: inherit;
        box-shadow: 0 8px 30px 0 rgba(0, 0, 0, 25%);
    }

    // &::after {
    //     background-image: url(./images/milkshakes_x1.png);
    //     top: -182px;
    //     left: 33px;

    //     @media screen and (min-width:1200px) {
    //         background-image: url(./images/milkshakes__desktop__x1.png);
    //     }
    // }
}



.products__label {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    line-height: 1;
    letter-spacing: 0.04em;

}

.products__title {
    font-family: 'Seymour One';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 1;
    letter-spacing: 0.06em;
    margin-top: 12px;
}

.products__text-items {
    margin-top: 165px;
}

.products__text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.8;
    text-align: center;
    letter-spacing: 0.04em;
}

.products__text-box {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 200px;
    margin-top: 66px;

    @media screen and (min-width:768px) {
        width: 172px;
    }

    @media screen and (min-width:1200px) {
        width: 246px;
    }
}

.products_btn-icon {
    width: 16px;
    height: 40px;
}

.products__btn {
    position: relative;
    bottom: -280px;

    border: none;
    background-color: inherit;
    cursor: pointer;
    padding: 0;

    &:hover,
    &:focus {
        fill: rgb(137, 64, 64);
    }
}