/* #Progress
================================================== */

.scroll-up {
  position: fixed;
  right: 30px;
  bottom: 30px;
  height: 46px;
  width: 46px;
  cursor: pointer;
  display: block;
  border-radius: 50px;
  box-shadow: inset 0 0 0 2px $modal-info-color;
  z-index: 10000;
  opacity: 0;
  visibility: hidden;
  transform: translateY(15px);
  transition: all 200ms linear;
}
.scroll-up--active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}
.scroll-up::after {
  position: absolute;
  content: '↑';
  text-align: center;
  line-height: 46px;
  font-size: 24px;
  color: rgba(0, 0, 0, 0.3); /* --- Pijl kleur --- */
  left: 0;
  top: 0;
  height: 46px;
  width: 46px;
  cursor: pointer;
  display: block;
  z-index: 1;
  transition: all 200ms linear;
}
.scroll-up:hover::after {
  opacity: 0;
}
.scroll-up::before {
  position: absolute;
  font-family: 'unicons';
  content: '\e84b';
  text-align: center;
  line-height: 46px;
  font-size: 24px;
  opacity: 0;
  background: black; /* --- Pijl hover kleur --- */

  left: 0;
  top: 0;
  height: 46px;
  width: 46px;
  cursor: pointer;
  display: block;
  z-index: 2;
  transition: all 200ms linear;
}
.scroll-up:hover::before {
  opacity: 1;
}
.scroll-up svg path {
  fill: none;
}
.scroll-up svg.progress-circle path {
  stroke: rgba(0, 0, 0, 0.2); /* --- Lijn progres kleur --- */
  stroke-width: 4;
  box-sizing: border-box;
  transition: all 200ms linear;
}
