// .is-vissible {
//   position: fixed;
//   bottom: 70px;
//   right: 30px;
//   z-index: 999;
//   color: $accent-color;
//   font-size: 40px;
//   opacity: 1;
//   transition: opacity $time-duration $time-function;

//   &--hide {
//     opacity: 0;
//   }

//   @include tablet {
//     bottom: 150px;
//     right: 70px;
//   }

//   @include desktop {
//     font-size: 70px;
//   }
// }

.scroll-up {
  position: fixed;
  right: 50px;
  bottom: 50px;
  z-index: 999;
  width: 50px;
  height: 50px;
  color: $accent-color;
  cursor: pointer;
  // visibility: hidden;
  border-radius: 50%;
  box-shadow: inset 0 0 0 4px $accent-color;
  // opacity: 0;
  transition: $time-duration $time-function;
  transform: translateY(25px);

  &::before {
    content: '↑';
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-size: 50px;
  }

  &:hover {
    color: tomato;
  }
}
